section(class="canvas section-1" id="section-1")

    h2 Story

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Gather Christmas Gifts

                p.
                    Santa has lost some of the gifts in his sleigh and need help to
                    find them and deliver them to the animals they are meant for.
                    The player is controlling a little elf in third person perspective,
                    and the gifts are spread around a winter world.

        div

            article

                h2 Solve Chritmas Riddles

                p.
                    When the player finds a gift, it comes with a riddle that gives
                    hints on how to find the way to the gift receiver’s house. When
                    the elf has carried the gift to the correct house, something
                    magical things will happen.

            img(src="images/home/section-1/_inline/image.svg" inline)

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Snowball-Fight with Monster

                p.
                    On the way to the house, the elf can encounter monsters that
                    will try to stop the elf from delivering the gift. To fight
                    the monster, the elf can throw snowballs at it.

        div

            article

                h2 Merry Christmas to All

                p.
                    The game has a progressive aspect to it, making the world and
                    everything in it more and more christmas-like when completing
                    gift delivery or fighting of monsters.

            img(src="images/home/section-1/_inline/image.svg" inline)

    +nav-1("section-2")
